node_modules
.tmp
assets\admin
package-lock.json
modules/*
Dockerfile
.gitlab-ci.yml
.git
docker-compose.yml

@webresto/core/node_modules
@webresto/graphql/node_modules
@webresto/module_manager/node_modules
@webresto/sails-adminpanel/node_modules

@webresto/core/test/fixture/node_modules
@webresto/graphql/test/fixture/node_modules
@webresto/module-manager/test/fixture/node_modules
@webresto/sails-adminpanel/test/fixture/node_modules

.sailsrc